<div class="jumbotron">
    <h1>ChatAPI</h1>
    <p class="lead">API para gerenciamento do Chat, nosso projeto de Prática Profissional II.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET</h2>
        <p>Nossa API foi feita em <a href="https://asp.net">ASP.NET</a>, uma framework para aplicativos e serviços web com .NET e C#.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ajuda</h2>
        <p>Caso esteja com problemas para usar a API, acesse a página de ajuda para exemplos e referências.</p>
        <p><a class="btn btn-default" href="/Help">Página de ajuda. &raquo;</a></p>
    </div>
</div>
